* {
    border: 1px solid hotpink;
}
header {
    display: flex;
    justify-content: space-between;
}
img {
    width: 100px;
    height: 100px;
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin: 10px;
}